<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<!-- 系统输出 -->
	<appender name="SYSOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

	<!-- 一个appender指的是一个一个日志的配置选项，在后面的配置中可以根据name属性引用具体的appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 在工程的上级目录生成这个文件 -->
		<File>./log/mylog_a_debug.log</File>
		<!-- 日志滚动策略，就是创建新日志文件的策略。 -->
		<!-- logback只有两种策略，这是最简单的一种，意思就是文件达到[MaxFileSize]=5MB的时候创建新文件，这种一般不常用
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"> -->
			<!-- 日志的文件形式，因为单个文件还没有达到5MB所以策略还没生效
			<FileNamePattern>./log/mylog_a_debug.%i.log</FileNamePattern> -->
			<!-- %i从1开始，最大到5
			<MinIndex>1</MinIndex>
			<MaxIndex>5</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy> -->
		<!-- 日志内容的格式
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date [%thread] %-5level %logger{80} - %msg%n</Pattern>
		</layout> -->
		
		<!-- 按日期滚动的日志文件策略，这种比较常用 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!-- daily rollover -->  
            <fileNamePattern>./log/mylog_a_debug-%d{yyyy-MM-dd}.log</fileNamePattern>  
            <!-- keep 30 days' worth of history -->  
            <maxHistory>30</maxHistory>
        </rollingPolicy>  
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">  
            <maxFileSize>10MB</maxFileSize>  
        </triggeringPolicy>     
        <encoder >  
            <Pattern>%-15d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0}[%file:%line] - %msg%n %ex{2}</Pattern>  
            <charset>UTF-8</charset>  
            <immediateFlush>true</immediateFlush>  
        </encoder>
	</appender>
	
	<!-- 需要输出的logger，以及需要输出的级别，日志的配型选项引用
	<logger name="com.john.logback.a" level="ERROR">
		<appender-ref ref="FILE" />
	</logger> -->
	
	<!-- 一个全局的配置 -->
	<root level="INFO">
		<appender-ref ref="SYSOUT" />
		<appender-ref ref="FILE" />
	</root>
	
</configuration>