<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.john.taskDetail.dao.TaskDetailMapper">
	<resultMap id="taskDetailRm" type="com.john.taskDetail.vo.TaskDetailVo">
		<result property="id" column="id" jdbcType="VARCHAR"/>
		<result property="optTime" column="opt_time" jdbcType="TIMESTAMP"/>
		<result property="isSign" column="is_sign" jdbcType="INTEGER"/>
		<result property="taskId" column="task_id" jdbcType="VARCHAR"/>
		<result property="signUser" column="sign_user" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="cols">
		d.id, d.opt_time, d.is_sign, d.task_id, d.sign_user
	</sql>
     
     <sql id="condition" >
	    <if test="id != null and '' != id">
        	and d.id = #{id,jdbcType=VARCHAR}
      	</if>
	    <if test="isSign != null">
        	and d.is_sign = #{isSign,jdbcType=VARCHAR}
      	</if>
	    <if test="taskId != null and '' != taskId">
        	and d.task_id = #{taskId,jdbcType=VARCHAR}
      	</if>
	    <if test="signUser != null and '' != signUser">
        	and d.sign_user = #{signUser,jdbcType=VARCHAR}
      	</if>
     </sql>
	
	<!-- 根据条件查询任务 -->
	<select id="findTaskDetails" resultMap="taskDetailRm">
		select <include refid="cols" /> from tbl_task_detail d where 1=1
		<include refid="condition" />
	</select>
	
	<select id="findCurrentLastUnsignDetail" resultMap="taskDetailRm">
		select <include refid="cols" /> from tbl_task_detail d where
		 d.opt_time=(select max(d2.opt_time) 
		 from tbl_task_detail d2 where d2.is_sign=0 and d2.task_id=#{taskId}
		 and <![CDATA[d2.opt_time > #{currentDate} ]]>)
	</select>
	
	<select id="findCurrentSignDetail" resultMap="taskDetailRm">
		select <include refid="cols" /> from tbl_task_detail d where d.task_id=#{taskId} and d.is_sign=1 and <![CDATA[d.opt_time > #{requestDate} ]]>
	</select>
	
	<select id="findSignDetailByTime" resultMap="taskDetailRm">
		select <include refid="cols" /> from tbl_task_detail d where d.task_id=#{taskId}
		 and <![CDATA[d.opt_time > #{beginDate} ]]> and <![CDATA[d.opt_time < #{endDate} ]]>
		 <if test="isSign != null">
        	and d.is_sign = #{isSign}
      	</if>
	</select>
	
	<insert id="saveObj">
		insert into tbl_task_detail(`id`,`opt_time`,`is_sign`,`task_id`,`sign_user`) values(#{id}, #{optTime}, #{isSign}, #{taskId}, #{signUser})
	</insert>
</mapper>