<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/jee  http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd"
	default-lazy-init="true">
	
	<!-- 开启注解
	<context:annotation-config />  -->
	
	<!-- 开启定时任务   -->
    <task:annotation-driven />
	
	<!-- 使用annotation 自动注册bean -->
	<context:component-scan base-package="com.john"/>
	
	<!-- 读取配置文件
	<context:property-placeholder location="classpath:/config.properties" /> -->
	<context:property-placeholder properties-ref="configProperties" />
	
	<!-- 统一异常处理机制 
	<bean id="exceptionHandler" class="com.john.utils.JExceptionHandler"/>-->
	
	<import resource="classpath:applicationContext-ds.xml"/>
	
	<!-- java读取properties文件
		用法:
		my_test为配置文件里面的key
		@Value("#{configProperties[my_test]}")
		private String myTest;
	 -->
	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:*.properties</value>
				<value>file:/etc/conf/smc/*.properties</value>
			</list>
		</property>
	</bean>
</beans>