<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/jee  http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.1.xsd"
	default-lazy-init="true">
	<!-- rabbitMq生产者配置 -->
	
	<!-- 定一个一个mq的连接工厂 -->
	<rabbit:connection-factory id="mq-connection-factory" addresses="${rabbitmq.host}"/>
	<rabbit:admin connection-factory="mq-connection-factory"/>
	
	<bean id="jsonMessageConverter"	class="org.springframework.amqp.support.converter.JsonMessageConverter">
		<property name="classMapper">
			<bean class="org.springframework.amqp.support.converter.DefaultClassMapper">
			</bean>
		</property>
	</bean>
	
	<!-- 队列声明 -->
	<rabbit:queue id="hc.ts.queue" name="hc.ts.queue" durable="true" auto-delete="false" exclusive="false"/>
	
	<!-- exchange与队列的绑定 -->
	<rabbit:direct-exchange id="my-mq-exchange" name="my-mq-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="hc.ts.queue" key="wms.stock.currentNum" />
        </rabbit:bindings>
    </rabbit:direct-exchange>
	
	<!-- 实现rabbitmq的MessageListener接口
	<rabbit:listener-container connection-factory="mq-connection-factory" message-converter="jsonMessageConverter">  
	    <rabbit:listener ref="rabbitmqListener" queue-names="hc.ts.queue" />
	</rabbit:listener-container>
	<bean id="rabbitmqListener" class="com.john.rabbitmq.RabbitMqListener" /> -->
	
	<!-- 实现rabbitmq的ChannelAwareMessageListener接口,用这个接口因为我使用了手动返回是否接收到消息的标识，需要操作Channel手动返回已接收消息的信号 -->
	<rabbit:listener-container connection-factory="mq-connection-factory" message-converter="jsonMessageConverter" acknowledge="manual">  
	    <rabbit:listener ref="rabbitmqListener" method="onMessage" queue-names="hc.ts.queue" />
	</rabbit:listener-container>
	<bean id="rabbitmqListener" class="com.john.rabbitmq.RabbitMqListenerWithChannel" />
</beans>